/*==============
  General Styles
================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 1.5;
}
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.container {
  min-width: 35rem;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0.8rem;
}

/*=============
  Section Texts
===============*/
.texts {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0;
}
.texts__title {
  font-family: "PT Serif", serif;
  font-size: 3.6rem;
  font-weight: 700;
}
.texts__paragraph {
  width: 44rem;
  font-size: 1.8rem;
}
.texts__paragraph h2 {
  margin: 1rem 0;
}
